<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: glava">


    <title>Креирај нов оброк</title>
</head>
<body>

<div th:replace="fragments/header :: navbar"></div>
<script th:src="@{/js/hrana.js}"></script>
<script th:src="@{/js/pialok.js}"></script>
<div class="banner">
    <div class="container">
        <div class="banner-text">
            <div class="banner-heading">
                <p class="ahh">Креирај нов оброк</p>
            </div>
            <div class="banner-sub-heading">

                <form class="form-group" th:action="@{/kreiraj_obrok}" method="post" th:object="${wrap}">
                    <div>
                        <label class="ahh">Опис оброк: <input type="text" th:field="*{opis_obrok}"></label>
                    </div>
                    <div>
                        <label class="ahh">Избери храна:</label>
                        <select id="hrana">

                            <option th:each="hr:${hrani}"
                                    th:value="${hr.hrana_id}"
                                    th:utext="${hr.naziv_hrana}">
                            </option>

                        </select> <br />
                        <label class="ahh">Внеси количина: <input id="kol_hr" type="text"></label><br />
                        <div class="table" id="tabela_hr" th:object="${obrokShWrap}">
                            <div class="row sodrzhi ahh" >
                                <div class="col-6">Храна</div>
                                <div class="col-6">Количина</div>
                            </div>
                        </div>
                        <table class="table d-none">
                            <thead>
                            <tr class="row sodrzhi ahh">
                                <th>Храна</th>
                                <th>Количина</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="obrok_hrana, itemStat : *{hranas}">
                                <td><input class="d-none" th:id="hr__${itemStat.index}__" th:field="*{hranas[__${itemStat.index}__].hrana}"></td>
                                <td><input class="d-none" th:id="hrk__${itemStat.index}__" th:field="*{hranas[__${itemStat.index}__].kolichina}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary text-dark btn-banner" id="hranaAdd" type="button" onclick="addHrana();">Додај храна</button><br /><br />
                    </div>
                    <div>
                        <label class="ahh">Избери пиалок:</label>
                        <select id="pialok" class="form-control">

                            <option th:each="pi:${pialoci}"
                                    th:value="${pi.pialok_id}"
                                    th:utext="${pi.naziv_pialok}">
                            </option>

                        </select> <br />
                        <label class="ahh">Внеси количина: <input id="kol_pi" type="text"></label><br />
                        <div class="table" id="tabela_pi">
                            <div class="row sodrzhi ahh">
                                <div class="col-6">Пиалок</div>
                                <div class="col-6">Количина</div>
                            </div>
                        </div>
                        <table class="table d-none">
                            <thead>
                            <tr class="row sodrzhi ahh">
                                <th>Храна</th>
                                <th>Количина</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="obrok_hrana, itemStat : *{pialoks}">
                                <td><input class="d-none" th:id="pi__${itemStat.index}__" th:field="*{pialoks[__${itemStat.index}__].pialok}"></td>
                                <td><input class="d-none" th:id="pik__${itemStat.index}__" th:field="*{pialoks[__${itemStat.index}__].kolichina}"></td>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary text-dark btn-banner" id="pialokAdd" type="button" onclick="addPialok();">Додај пиалок</button><br /><br />
                    </div>
                    <input  type="button" class="btn btn-danger text-dark btn-banner" value="НАЗАД" style="width: 220px">
                    <input type="submit" class="btn btn-primary text-dark btn-banner" value="КРЕИРАЈ" style="width: 220px">
                </form>


            </div>

        </div>



    </div>

</div>

</body>
</html>