<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/header :: glava">
<body>

<div th:replace="fragments/header :: navbar"></div>

<div class="banner">
    <div class="container">
        <div class="banner-text">
            <div class="banner-heading">
                Додај тренинг
            </div>
            <div class="banner-sub-heading">

                <form class="form-group" th:action="@{/dodaj_trening}" th:object="${dnevnikTrening}" method="post">
                    <select th:field="*{trening}" class="form-control">

                        <option th:each="t:${treninzi}"
                                th:value="${t.trening_id}"
                                th:utext="${t.opis_treining}">
                        </option>


                    </select> <br />
                    <input type="date" class="form-control" th:field="*{datum}"><br /> <br />

                    <button  type="submit" class="btn btn-warning text-dark btn-banner" style="width: 220px">ДОДАДИ</button>
                    <a class="btn btn-warning text-dark btn-banner" style="width: 220px" th:href="@{/kreiraj_trening}" >КРЕИРАЈ ТРЕНИНГ</a>
                    <input  type="button" class="btn btn-warning text-dark btn-banner" value="НАЗАД" style="width: 220px">
                </form>


            </div>

        </div>



    </div>

</div>

</body>
</html>