<div th:fragment="navbar">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
        <div class="container">

            <a class="navbar-brand" th:href="@{/index}"><span>Daily Cal</span> <img src="https://i.postimg.cc/Ss87xzGr/asdasdasd.png"height="30px" width="30px" ></a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dodaj_obrok}">Додај оброк</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dodaj_trening}">Додај тренинг</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{dodaj_trchanje}">Додај трчање</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/korisnici/statistica}">Статистика</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/korisnici/profil}">Профил</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Одјави се</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>

<div th:fragment="navbari">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top" id="banner">
        <div class="container">

            <a class="navbar-brand" th:href="@{/index}"><span>Daily Cal</span> <img src="https://i.postimg.cc/Ss87xzGr/asdasdasd.png"height="30px" width="30px" ></a>


            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>


            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dodaj_hrana}">Додај храна</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dodaj_pialok}">Додај пиалок</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dodaj_sport}">Додај спорт</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/dodaj_vezhba}">Додај вежба</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logout}">Одјави се</a>
                    </li>

                </ul>
            </div>
        </div>
    </nav>
</div>

<head th:fragment="glava">
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery.js}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/styles.js}"></script>
</head>